src/main/resources/xsd/1-2-0/xnachweis-baukasten.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:xn-bk="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-baukasten"
           xmlns:bn-g2g="http://xoev.de/schemata/basisnachricht/g2g/1_1"
           xmlns:din91379="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"
           xmlns:xn-bdt="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-basisdatentypen"
           xmlns:xn-eu-edm="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-eu-edm"
           targetNamespace="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-baukasten"
           version="1.2.0"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">
   <xs:annotation>
      <xs:appinfo>
         <standard>
            <nameLang>XNachweis</nameLang>
            <nameKurz>XNachweis</nameKurz>
            <nameTechnisch>xnachweis</nameTechnisch>
            <kennung>urn:xoev-de:bva:standard:xnachweis</kennung>
            <beschreibung>XNachweis ist ein Standard des Bundesverwaltungsamtes (BVA) für die fachunabhängige Anforderung und Übermittlung von Nachweisen zu Personen und Unternehmen. Mittels XNachweis werden nationale Verwaltungsportale, registerführende wie auch weitere öffentlichen Stellen an das nationale (NOOTS) und das europäischen Once Only Technical System (SDG-OOTS) angebunden. 

Der Standard ist interoperabel mit den europäischen Spezifikationen (EU-Technical Design Documents, kurz EU-TDD) der Verordnung (EU) 2018/1724 des Europäischen Parlaments und des Rates (SDG-VO) und gleichzeitig ausgerichtet auf die spezifischen Anforderungen eines nationalen OOTS. Der Standard XNachweis wird durch das BVA herausgegeben und im Auftrag des BVA durch die KoSIT betrieben.
</beschreibung>
         </standard>
         <versionStandard>
            <version>1.2.0</version>
            <beschreibung>Mit der vorliegenden Version 1.2.0 wird eine neue Nachrichtengruppe zur Umsetzung des Nachweisabrufs von nationalen Onlinediensten aus nationalen Registern im NOOTS bereitgestellt. Im Rahmen der Umsetzung wurde vorrangig der Nachweisabruf zu natürlichen Personen ausgearbeitet. Hierzu wurde die Möglichkeit zur Übermittlung der IDNr und eines von der Vermittlungsstelle ausgestellten, zum Abruf berechtigenden Tokens in der Nachricht zur Nachweisanfrage umgesetzt. Des Weiteren wurden geringfügige Verbesserungen an bestehenden Inhalten aller Nachrichtengruppen vorgenommen, darunter zum Beispiel die Änderung des Geburtsorts zur Identifikation einer Person von einer Pflichtangabe zu einer optionalen Angabe sowie die Ausgestaltung der Fehlernachrichten. Die kommenden Versionen werden weitere nationale Anforderungen umsetzen, wie die benötigten Angaben für die Protokollierung eines Nachweisabrufs im Datenschutzcockpit oder die nationale Identifikation von Unternehmen mithilfe der bundeseinheitlichen Wirtschaftsnummer. Begleitend zur Veröffentlichung dieser Version soll eine entsprechende Konfiguration des Prüftools bereitgestellt werden.</beschreibung>
            <versionXOEVProfil>3.0.1</versionXOEVProfil>
            <versionXOEVHandbuch>3.0.1</versionXOEVHandbuch>
            <versionXGenerator>3.1.1</versionXGenerator>
            <versionModellierungswerkzeug>19.0 SP 4</versionModellierungswerkzeug>
            <nameModellierungswerkzeug>MagicDraw</nameModellierungswerkzeug>
         </versionStandard>
      </xs:appinfo>
   </xs:annotation>
   <xs:import schemaLocation="http://xoev.de/schemata/basisnachricht/g2g/1_1/xoev-basisnachricht-g2g_1.1.xsd"
              namespace="http://xoev.de/schemata/basisnachricht/g2g/1_1"/>
   <xs:import schemaLocation="https://xoev.de/schemata/din/91379/2022-08/din-norm-91379-datatypes.xsd"
              namespace="urn:xoev-de:kosit:xoev:datentyp:din-91379_2022-08"/>
   <xs:import schemaLocation="xnachweis-basisdatentypen.xsd"
              namespace="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-basisdatentypen"/>
   <xs:import schemaLocation="xnachweis-eu-edm.xsd"
              namespace="urn:xoev-de:bva:standard:xnachweis:schema:xnachweis-eu-edm"/>
   <xs:complexType name="AddressType">
      <xs:sequence>
         <xs:element name="FullAddress" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The complete address written as a string. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Thoroughfare" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The name of a street, passage or way through from one location to another. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LocatorDesignator" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>A number or sequence of characters that uniquely identifies the locator (building number, apartment number, etc.) within the relevant scope. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AdminUnitLevel1"
                     minOccurs="0"
                     type="xn-bdt:Code.CountryIdentificationCode">
            <xs:annotation>
               <xs:documentation>The name of the uppermost level of the address, almost always a country. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AdminUnitLevel2" minOccurs="0" type="xn-bdt:Code.NUTS">
            <xs:annotation>
               <xs:documentation>The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PostCode" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PostCityName" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The key postal division of the address, usually the city.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Agent.IdentificationType">
      <xs:sequence>
         <xs:element name="Identifier" type="xn-bdt:Identifier.EAS">
            <xs:annotation>
               <xs:documentation>A unique identification for the agent, i.e., the Issuing Authority.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Name" maxOccurs="unbounded" type="xn-bdt:String.Multilingual">
            <xs:annotation>
               <xs:documentation>A short label for the agent, i.e., the Issuing Authority.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AgentType_NOOTS">
      <xs:annotation>
         <xs:documentation>Datentyp zur Spezifizierung einer Stelle / von Akteuren für die Nachweisanfrage. Ergänzend zum Datentyp des EU-EDM ist die Angabe einer generischen Information aus fremden Namensräumen möglich.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xn-eu-edm:AgentType">
            <xs:sequence>
               <xs:element name="AnyContent" minOccurs="0" type="xs:anyType">
                  <xs:annotation>
                     <xs:documentation>Generisches Element mit Vorgabe eines Namensraums und strikter Validierung der Inhalte</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AttributeKeyValuePair">
      <xs:annotation>
         <xs:documentation>In case of their existence, SectorSpecificAttributes are provided by eIDAS and they can increase the success rate of identity and record matching. They are expressed via key-value pairs. SectorSpecificAttributes are not part of the MDS. Thus no level of assurance is provided by eIDAS.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="AttributeName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The name of the SectorSpecificAttribute. Is not part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AttributeURI" type="xs:anyURI">
            <xs:annotation>
               <xs:documentation>A unique identifier of the SectorSpecificAttribute. Is not part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AttributeValue" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The Value of the SectorSpecificAttribute. Is not part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AuthorizedPersonType">
      <xs:sequence>
         <xs:element name="LevelOfAssurance" type="xn-bdt:Code.LoA">
            <xs:annotation>
               <xs:documentation>The Level of Assurance assured by the Evidence Requester for a specific concept of the eIDAS Minimum Data Set provided for the Natural Person.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PlaceOfBirth" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The Location where the Person was born. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="CurrentAdress" minOccurs="0" type="xn-bk:AddressType">
            <xs:annotation>
               <xs:documentation>The place that the Person treats as permanent home. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Gender" minOccurs="0" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The identities, expressions and societal roles of the Person. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="SectorSpecificAttribute"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xn-bk:AttributeKeyValuePair">
            <xs:annotation>
               <xs:documentation>In case of their existence, SectorSpecificAttributes are provided by eIDAS and they can increase the success rate of identity and record matching. They are expressed via key-value pairs. SectorSpecificAttributes are not part of the MDS. Thus no level of assurance is provided by eIDAS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateOfBirth" type="xs:date">
            <xs:annotation>
               <xs:documentation>The point in time on which the Person was born. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FamilyName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The hereditary surname of a family. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GivenName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The name(s) that identify the Person within a family with a common surname. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IDNr" minOccurs="0" type="xn-bdt:IDNrType">
            <xs:annotation>
               <xs:documentation>Die Identifikation einer natürlichen Person ist mit der IDNr. alternativ zu den Basisdaten möglich.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConformantToType">
      <xs:sequence>
         <xs:element name="EvidenceTypeClassification"
                     type="xn-bdt:EvidenceTypeClassification">
            <xs:annotation>
               <xs:documentation>An URI pointing to the Evidence Type that this Data Service is supporting. The classification is linking with the Evidence Type of the Semantic Repository (Evidence Broker).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Title"
                     maxOccurs="unbounded"
                     type="xn-bdt:String.Multilingual">
            <xs:annotation>
               <xs:documentation>A name to identify in common language the Evidence Type. Unbounded cardinality to support multiple languages.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Description"
                     minOccurs="0"
                     maxOccurs="unbounded"
                     type="xn-bdt:String.Multilingual">
            <xs:annotation>
               <xs:documentation>A description of the Evidence Type. Unbounded cardinality to support multiple languages.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DistributionType">
      <xs:sequence>
         <xs:element name="Format" type="xn-bdt:Code.OOTSMediaTypes">
            <xs:annotation>
               <xs:documentation>The technical representation of the evidence. Declaration of the file types that provide the contents of the Evidence like PDF, XML, JSON, RDF etc</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ConformsTo" minOccurs="0" type="xn-bdt:URI.DataModelScheme">
            <xs:annotation>
               <xs:documentation>A registered schema or conformance profile in the OOTS semantic repository to which the described and requested distribution or the distributed evidence, respectively, conforms.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Transformation"
                     minOccurs="0"
                     type="xn-bdt:URI.DataModelScheme">
            <xs:annotation>
               <xs:documentation>The element points to a known and structured evidence type subset that would suffice the request. Evidence type subsets fulfil the principle of data minimization and can limit the collection to those information required for the execution of a procedure. They are connected to a defined conformance profile.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DistributionWithLanguageType">
      <xs:complexContent>
         <xs:extension base="xn-bk:DistributionType">
            <xs:sequence>
               <xs:element name="Language"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xn-bdt:Code.LanguageCode">
                  <xs:annotation>
                     <xs:documentation>The language(s) in which the evidence is provided.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="EvidenceMetadataType">
      <xs:sequence>
         <xs:element name="IssuingDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date and time the evidence has been issued by the Evidence Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="ValidityPeriod" minOccurs="0" type="xn-bk:PeriodType">
            <xs:annotation>
               <xs:documentation>The validity period of the evidence ensured by the Evidence Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IssuingAuthority" type="xn-bk:Agent.IdentificationType">
            <xs:annotation>
               <xs:documentation>The evidence provider, namely the agent that is issuing the evidence.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Distribution" type="xn-bk:DistributionWithLanguageType">
            <xs:annotation>
               <xs:documentation>The kind of distributions that is provided by this response and that was requested by the EvidenceRequester.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="IsConformantTo" type="xn-bk:ConformantToType">
            <xs:annotation>
               <xs:documentation>Relation to an Evidence Type. An Evidence Type is an evidence classification that can be provided to meet a requirement, within a certain jurisdiction or procedure.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EvidenceType.DataServiceType">
      <xs:annotation>
         <xs:documentation>Provides the semantic information and requirements for retrieving an evidence type from a Data Service.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xn-bk:ConformantToType">
            <xs:sequence>
               <xs:element name="Identifier" type="xn-bdt:UUID">
                  <xs:annotation>
                     <xs:documentation>The Identifier, provided by the Data Services to uniquely identify an Evidence Type.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="DistributedAs" type="xn-bk:DistributionType">
                  <xs:annotation>
                     <xs:documentation>A description of the format and the semantic and syntactic conformance, under which the Evidence Type can be distributed and which is expected by the Evidence Requester.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Identifikation.NachrichtenTyp">
      <xs:annotation>
         <xs:documentation>Dieser Typ enthält Angaben zur eindeutigen Identifikation einer Nachricht.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nachrichtenUUID" type="bn-g2g:UUID">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält den „Universally Unique IDentifier (UUID)“ der Nachricht, der das primäre Identifikationsmerkmal einer Nachricht darstellt. Der UUID der Nachricht wird entsprechend rfc4122 gebildet und ermöglicht Nachrichten hersteller- und anwendungsübergreifend weltweit eindeutig zu identifizieren. Für jede Nachricht muss ein neuer UUID erzeugt werden, um eine eindeutige Identifikation der Nachricht sicherzustellen. Insbesondere ist es nicht zulässig, in einer korrigierten Nachricht den UUID der ursprünglichen Nachricht wiederzuverwenden. Sofern eine einmal erzeugte Nachricht ein weiteres Mal gesendet werden soll (bspw. aufgrund von Problemen beim Nachrichtentransport), muss der UUID nicht angepasst werden.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="nachrichtentyp" type="xn-bdt:Code.MessageType">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält eine eindeutige Kennzeichnung des Nachrichtentyps. Die Identifikation erfolgt über eine Codeliste des entsprechenden XÖV-Standards.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="erstellungszeitpunkt" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält den Erstellungszeitpunkt der Nachricht - es enthält explizit nicht den Sende- und Empfangszeitpunkt. Der Erstellungszeitpunkt muss neben einer Angabe zum Datum eine zeitliche Information beinhalten. Diese ist mit einer Genauigkeit auf Ebene von Millisekunden und der Angabe zur Zeitzone zu übermitteln.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LegalPerson.IdentificationType">
      <xs:sequence>
         <xs:element name="LegalPersonIdentifier"
                     minOccurs="0"
                     type="xn-bdt:Identifier.eIDAS">
            <xs:annotation>
               <xs:documentation>The unique identifier provided by eIDAS to identify the Legal Entity. Example: ES/AT/02635542Y</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LegalName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The name under which the Legal Entity is legally registered.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LegalPersonType">
      <xs:complexContent>
         <xs:extension base="xn-bk:LegalPerson.IdentificationType">
            <xs:sequence>
               <xs:element name="LevelOfAssurance" type="xn-bdt:Code.LoA">
                  <xs:annotation>
                     <xs:documentation>The Level of Assurance assured by the Evidence Requester for a specific concept of the eIDAS Minimum Data Set provided for the Natural Person.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Identifier"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xn-bdt:Identifier">
                  <xs:annotation>
                     <xs:documentation>The unambiguous structured reference assigned to the Legal Entity by the legal authority that registered it.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="RegisteredAddress" minOccurs="0" type="xn-bk:AddressType">
                  <xs:annotation>
                     <xs:documentation>The address at which the Legal Entity is legally registered.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SectorSpecificAttribute"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xn-bk:AttributeKeyValuePair">
                  <xs:annotation>
                     <xs:documentation>In case of their existence, SectorSpecificAttributes are provided by eIDAS and they can increase the success rate of identity and record matching. They are expressed via key-value pairs. SectorSpecificAttributes are not part of the MDS. Thus no level of assurance is provided by eIDAS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="Nachricht">
      <xs:annotation>
         <xs:appinfo>
            <datentyp>
               <nameLang>XÖV-Basisnachricht: Government-to-Government</nameLang>
               <nameKurz>XÖV-Basisnachricht G2G</nameKurz>
               <nameTechnisch>Nachricht.G2GType</nameTechnisch>
               <kennung>urn:xoev-de:kosit:xoev:datentyp:nachricht.g2gtype</kennung>
            </datentyp>
            <versionDatentyp>
               <version>1.1</version>
               <lizenz>Creative Commons Namensnennung - Keine Bearbeitung 4.0 International</lizenz>
               <bezugsort>http://www.xoev.de/de/bibliothek</bezugsort>
            </versionDatentyp>
         </xs:appinfo>
         <xs:documentation>Basistyp für alle Nachrichten zwischen Behörden und anderen öffentlichen Stellen (government-to-government).</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="nachrichtenkopf" type="xn-bk:Nachrichtenkopf"/>
      </xs:sequence>
      <xs:attribute name="produkt" type="din91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut ist der Name des Produktes (der Software) einzutragen, mit dem die Nachricht erstellt worden ist.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produkthersteller" type="din91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird der Name der Organisation / Firma übermittelt, die für das Produkt (die Software) verantwortlich ist, mit dem die Nachricht erstellt wurde.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="produktversion" type="din91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>In diesem Attribut werden ergänzende Hinweise zu dem Produkt eingetragen. Dies sind Angaben, die für eine möglichst präzise Identifikation im Fehlerfall hilfreich sind, wie zum Beispiel Version und Patchlevel.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="standard" type="din91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird der Name des XÖV-Standards angegeben, aus dem die Nachricht stammt.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="test" type="din91379:datatypeC" use="optional">
         <xs:annotation>
            <xs:documentation>Ist dieses Attribut vorhanden, handelt es sich aus Sicht des Autors um eine Testnachricht, die nicht im normalen Produktivbetrieb verarbeitet werden darf. Autor und Leser können bilateral weitere Absprachen über den konkreten Inhalt des Attributs treffen.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="version" type="din91379:datatypeC" use="required">
         <xs:annotation>
            <xs:documentation>In diesem Attribut wird die Version des XÖV-Standards eingetragen, aus dem die Nachricht stammt.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="Nachrichtenkopf">
      <xs:annotation>
         <xs:documentation>Nachrichtenkopf für Nachrichten zwischen Behörden und anderen (öffentlichen) Stellen. Der Nachrichtenkopf umfasst Angaben zur eindeutigen Identifikation des Autors und des Lesers der Nachricht sowie der Nachricht selbst.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="identifikation.nachricht"
                     type="xn-bk:Identifikation.NachrichtenTyp">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Angaben zur eindeutigen Identifikation einer Nachricht.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="bn-g2g:leser">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Angaben zum Leser der Nachricht. Der Leser ist die fachlich zuständige Behörde / öffentliche Stelle, der die Nachricht zugestellt werden soll und die die Nachricht fachlich verarbeiten soll.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element ref="bn-g2g:autor">
            <xs:annotation>
               <xs:documentation>Dieses Element enthält Angaben zum Autor der Nachricht, die es dem Leser ermöglichen, bei Bedarf mit dem Autor in Verbindung zu treten. Der Autor ist die fachlich zuständige Behörde / öffentliche Stelle, die die Nachricht erstellt.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PeriodType">
      <xs:sequence>
         <xs:element name="StartDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The start date of the validity period. The start date time must have granularity of seconds, and include time zone information.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EndDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The start date of the validity period. The start date time must have granularity of seconds, and include time zone information.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Person.IdentificationType">
      <xs:sequence>
         <xs:element name="Identifier" minOccurs="0" type="xn-bdt:Identifier.eIDAS">
            <xs:annotation>
               <xs:documentation>The unique identifier provided by eIDAS to identify the Natural Person. Example: ES/AT/02635542Y</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="DateOfBirth" type="xs:date">
            <xs:annotation>
               <xs:documentation>The point in time on which the Person was born. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FamilyName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The hereditary surname of a family. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GivenName" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>The name(s) that identify the Person within a family with a common surname. Is part of the MDS.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PersonType">
      <xs:annotation>
         <xs:documentation>A natural person that is alive, dead or real acting as Evidence Subject. Or a natural person acting on behalf of a legally registered business or natural person.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xn-bk:Person.IdentificationType">
            <xs:sequence>
               <xs:element name="LevelOfAssurance" type="xn-bdt:Code.LoA">
                  <xs:annotation>
                     <xs:documentation>The Level of Assurance assured by the Evidence Requester for a specific concept of the eIDAS Minimum Data Set provided for the Natural Person.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="BirthName" minOccurs="0" type="xn-bdt:Text">
                  <xs:annotation>
                     <xs:documentation>Full name of the Person given upon their birth. Is part of the MDS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="PlaceOfBirth" minOccurs="0" type="xn-bdt:Text">
                  <xs:annotation>
                     <xs:documentation>The Location where the Person was born. Is part of the MDS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="CurrentAdress" minOccurs="0" type="xn-bk:AddressType">
                  <xs:annotation>
                     <xs:documentation>The place that the Person treats as permanent home. Is part of the MDS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="Gender" minOccurs="0" type="xn-bdt:Text">
                  <xs:annotation>
                     <xs:documentation>The identities, expressions and societal roles of the Person. Is part of the MDS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="SectorSpecificAttribute"
                           minOccurs="0"
                           maxOccurs="unbounded"
                           type="xn-bk:AttributeKeyValuePair">
                  <xs:annotation>
                     <xs:documentation>In case of their existence, SectorSpecificAttributes are provided by eIDAS and they can increase the success rate of identity and record matching. They are expressed via key-value pairs. SectorSpecificAttributes are not part of the MDS. Thus no level of assurance is provided by eIDAS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element name="IDNr" minOccurs="0" type="xn-bdt:IDNrType">
                  <xs:annotation>
                     <xs:documentation>Die Identifikation einer natürlichen Person ist mit der IDNr. alternativ zu den Basisdaten möglich.</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="QueryType_NOOTS">
      <xs:annotation>
         <xs:documentation>Datentyp zur Spezifizierung der Nachweisanfrage sowie für die Angabe weiterer Parameterwerte. Abweichend vom EU-EDM Datentyp sind keine Angaben zur Nachweis-Preview enthalten.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="QueryDefinition" default="DocumentQuery" type="xn-bdt:Text">
            <xs:annotation>
               <xs:documentation>Used to control the parameterized query. Fixed value "DocumentQuery"</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RequestedEvidenceType" type="xn-bk:EvidenceType.DataServiceType">
            <xs:annotation>
               <xs:documentation>A request for a piece of evidence to the data service of an Evidence Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="AuthorizedRepresentative"
                     minOccurs="0"
                     type="xn-bk:AuthorizedPersonType">
            <xs:annotation>
               <xs:documentation>The representative of the Evidence Subject who makes the Evidence Request on their behalf. In the context of the SDG, the sector specific "PowerOfRepresentationScope" attribute may be available from the eIDAS authentication of the user to the Online Procedure Portal or Intermediary Platform. It may contain the power of representation scope of a representative person representing a different represented person.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="LegalOrNaturalPerson">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="LegalPerson" type="xn-bk:LegalPersonType">
                     <xs:annotation>
                        <xs:documentation>The Evidence Subject, being a legal person, whose evidence is requested from the Data Service.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="NaturalPerson" type="xn-bk:PersonType">
                     <xs:annotation>
                        <xs:documentation>The Evidence Subject, being a natural person, whose evidence is requested from the Data Service.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegistryExceptionType">
      <xs:sequence>
         <xs:element name="Code" type="xn-bdt:Code.ErrorCodes_NOOTS">
            <xs:annotation>
               <xs:documentation>Klassifiziert die Art des Fehlers während eines Nachweisabrufs.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Detail" minOccurs="0" type="xs:string">
            <xs:annotation>
               <xs:documentation>Ermöglicht die Angabe eines beschreibenen Textes zum Fehler (z.B. welche Angaben für die Nachweisanfrage zusätzlich benötigt werden).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Timestamp" minOccurs="0" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Ermöglicht die Angabe eines Zeitstempels für das Auftreten des Fehlers.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="Severity"
                     fixed="urn:oasis:names:tc:ebxmlregrep:ErrorSeverityType:Error"
                     type="xs:string">
            <xs:annotation>
               <xs:documentation>Beschreibt den Schweregrad des Fehlers. Es ist nur die Angabe von Codes aus der vom SDG-OOTS Directorate-General for Informatics (DIGIT) herausgegebenen Codeliste Error Severity möglich.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RegistryObjectType_NOOTS">
      <xs:annotation>
         <xs:documentation>Datentyp für Registry Objects für die Beantwortung von Nachweisanfragen. Abweichend vom Datentyp des EU-EDM ist entweder die Referenzierung oder die direkte Ablage von Objekten gestattet.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="id" type="xn-bdt:UUID.URN">
            <xs:annotation>
               <xs:documentation>Unique UUID for each RegistryObject. This value is defined by the Evidence Provider.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="EvidenceMetadata" type="xn-bk:EvidenceMetadataType">
            <xs:annotation>
               <xs:documentation>Element to provide the metadata about an evidence that is provided from the Data Service of an Evidence Provider (EP).</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="RepositoryItem">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="RepositoryItem" type="xs:base64Binary">
                     <xs:annotation>
                        <xs:documentation>Falls das Feld RepositoryItemRef nicht befüllt wird, kann der Nachweis hier base64-kodiert abgelegt werden.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="RepositoryItemRef" type="xn-bk:RepositoryItemRef">
                     <xs:annotation>
                        <xs:documentation>The RepositoryItemRef locates the Evidence file within the repository. It provides a precise reference to the repository item provided by the Evidence Provider.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
         <xs:element name="LegalOrNaturalPerson">
            <xs:complexType>
               <xs:choice>
                  <xs:element name="LegalPerson" type="xn-bk:LegalPersonType">
                     <xs:annotation>
                        <xs:documentation>The Evidence Subject, being a legal person, whose evidence is requested from the Data Service.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element name="NaturalPerson" type="xn-bk:PersonType">
                     <xs:annotation>
                        <xs:documentation>The Evidence Subject, being a natural person, whose evidence is requested from the Data Service.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:choice>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RepositoryItemRef">
      <xs:attribute name="href" type="xs:anyURI" use="required">
         <xs:annotation>
            <xs:documentation>An internal reference to the repository in which the requested Evidence file is located. The reference thereby may point to a specific distribution of the Evidence.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="title" type="xs:string" use="required">
         <xs:annotation>
            <xs:documentation>The title of the document instance that is provided by the Data Provider.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RequirementType_NOOTS">
      <xs:annotation>
         <xs:documentation>Datentyp zur Identifizierung von Nachweisanforderungen für ein Verwaltungsverfahren anhand eines für das EU-OOTS abgestimmten Datenkranzes. Ergänzend zum Datentyp des EU-EDM ist die Angabe eines EU-Mitgliedsstaates für jede Nachweisanforderung möglich.</xs:documentation>
      </xs:annotation>
      <xs:complexContent>
         <xs:extension base="xn-eu-edm:RequirementType">
            <xs:sequence>
               <xs:element name="Country"
                           minOccurs="0"
                           type="xn-bdt:Code.CountryIdentificationCode"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
